<!-- Page Content -->
<div class="content container-fluid">
<!-- Page Header -->
<div class="page-header">
  <div class="row align-items-center">
      <div class="col">
          <h3 class="page-title">Lst Movie Source</h3>
          <ul class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home/vd-source">Movies</a></li>
              <li class="breadcrumb-item active">Movies Source</li>
          </ul>
      </div>
  </div>
</div>
<!-- /Page Header -->

<!-- Content Tile -->
<div class="card mb-0" style="margin-bottom: 25px !important;">
  <div class="card-body">
      <div class="row">
          <div class="col-md-12">
              <div class="profile-view">
                  <div class="profile-basic" style="margin-left: 0px;">
                      <div class="row">
                          <div class="col-md-3">
                              <div class="profile-info-left">
                                <img style="width: 286px;" alt="" [src]="src">
                              </div>
                          </div>
                          <div class="col-md-7">
                              <ul class="personal-info vd-source">
                                  <li>
                                      <div class="title">ID:</div>
                                      <div class="text title"><a>{{jsonData.id}}</a></div>
                                  </li>
                                  <li>
                                      <div class="title">Title:</div>
                                      <div class="text"><a>{{jsonData.vdName}}</a></div>
                                  </li>
                                  <li>
                                    <div class="title">Part:</div>
                                    <div class="text">
                                      <a href="javascript:">{{itemInfo.part}}</a>
                                    </div>
                                </li>
                                  <li>
                                    <div class="title">Movie:</div>
                                    <div class="text"><a href="javascript:">{{jsonData.vdTypeName}}</a></div>
                                  </li>
                                  <li>
                                    <div class="title">Type:</div>
                                    <div class="text">
                                      <a href="javascript:">{{jsonData.vdSubTypeName}}</a>
                                    </div>
                                  </li>
                                  <li>
                                      <div class="title">Rmark:</div>
                                      <div class="text" *ngIf = "jsonData.remark">
                                        <a href="javascript:">{{jsonData.remark}}</a>
                                      </div>
                                  </li>

                                  <li>
                                      <div class="title">Create At:</div>
                                      <div class="text">
                                        <a href="javascript:">{{jsonData.vdTypeName}}</a>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- <div class="pro-edit">
                    <a data-target="#profile_info" data-toggle="modal" class="edit-icon">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </div> -->
              </div>
          </div>
      </div>
    </div>
  </div>
  <!-- /Content Tile -->

  <div class="row">
    <div class="col-md-12 col-lg-6 col-xl-7 d-flex">
      <div class="card flex-fill" style="height: 460px;">
          <div class="card-body">
              <h4 class="card-title">Video Pre-Veiw</h4>

              <video type="video/mp4" [src]="videoSrc" controls controlsList="nodownload" style="width: 100%;"></video>

          </div>
      </div>
  </div>
  </div>
</div>
