<!-- Page Content -->
<div class="content container-fluid">
  <div class="row">
      <div class="col-md-8 offset-md-2">

        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-center">
              <div class="col">
                  <h3 class="page-title">Add New Movie</h3>
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink = '/home'>Movie</a></li>
                      <li class="breadcrumb-item active">Add Movie</li>
                  </ul>
              </div>
              <!-- <div class="col-auto float-right ml-auto">
                  <a  class="btn add-btn" data-toggle="modal" data-target="#add_holiday"><i
                          class="fa fa-plus"></i> Add Movie</a>
              </div> -->
          </div>
        </div>
        <!-- /Page Header -->

          <form (ngSubmit)="submitCompany()" [formGroup]="form">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                      <label>Title<span class="text-danger">*</span></label>
                      <input class="form-control" type="text" value="Dreamguy's Technologies"
                          [class.invalid]="form.get('title').invalid && form.get('title').touched"
                          formControlName="title">
                      <div *ngIf="submitted && f.title.errors">
                          <small class="text-danger"> *Company name is required</small>
                      </div>
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Movie<span class="text-danger">*</span></label>
                          <select class="form-control select"
                              formControlName="stateMovie">
                              <option *ngFor="let state of movies" [ngValue]="state">
                                {{ state.value }}
                              </option>
                          </select>
                          <div *ngIf="submitted && f.stateMovie.errors">
                              <small class="text-danger"> *Company name is required</small>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Type<span class="text-danger">*</span></label>
                          <select class="form-control select"
                              formControlName="state">

                              <option *ngFor="let state of subMovies" [ngValue]="state">
                                {{ state.value }}
                              </option>

                          </select>
                          <div *ngIf="submitted && f.state.errors">
                              <small class="text-danger"> *Contact person is required</small>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Remark</label>
                          <input class="form-control " value="3864 Quiet Valley Lane, Sherman Oaks, CA, 91403"
                              type="text" formControlName="remark">
                          <div *ngIf="submitted && f.remark.errors">
                              <small class="text-danger"> *Address is required</small>
                          </div>
                      </div>
                  </div>

              </div>

              <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Image</label>

                        <input type="file" formControlName="fileSource"  accept="image/png, image/jpeg" (change)="selectFile($event)" class="form-control"/>
                        <!-- <div class="col-12" style="margin-top: 15px;">
                          <button class="btn btn-success btn-sm float-right" [disabled]="!selectedFiles" (click)="upload()" style="float: right;">
                            Upload
                          </button>
                        </div> -->

                        <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">

                        <div *ngIf="currentFile" class="progress my-3">
                          <div
                            class="progress-bar progress-bar-info progress-bar-striped"
                            role="progressbar"
                            attr.aria-valuenow="{{ progress }}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            [ngStyle]="{ width: progress + '%' }"
                          >
                            {{ progress }}%
                          </div>
                        </div>

                        <div *ngIf="submitted && f.fileSource.errors">
                        <small class="text-danger"> *Light logo is required</small>
                    </div>

                    </div>
                </div>
            </div>

              <div class="submit-section">
                <button (click)="save()" class="btn btn-sm btn-primary float-right" type="button" data-toggle="modal" data-target="#add_custom_policy">
                  <i class="fa fa-floppy-o"></i>
                  Save
                </button>
                  <!-- <button class="btn btn-primary submit-btn">Save</button> -->
              </div>
          </form>
      </div>
  </div>
</div>
<!-- /Page Content -->
