<!-- Page Content -->
<div class="content container-fluid">
  <div class="row">
      <div class="col-md-8 offset-md-2">

        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-center">
              <div class="col">
                  <h3 class="page-title">{{'video.label.addNewMovie' | translate}}</h3>
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink = '/home'>{{'video.label.movie' | translate}}</a></li>
                      <li class="breadcrumb-item active">{{'video.label.addMovie' | translate}}</li>
                  </ul>
              </div>
          </div>
        </div>
        <!-- /Page Header -->

          <form [formGroup]="form">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                      <label>{{'video.label.title' | translate}}<span class="text-danger">*</span></label>
                      <input #title class="form-control form-control-sm" type="text" formControlName="title" placeholder="{{'video.holder.enterTitle' | translate}}">
                      <div *ngIf="submitted && f.title.errors">
                          <small class="text-danger">{{'video.message.titleRequired' | translate}}</small>
                      </div>
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>{{'video.label.movieType' | translate}}<span class="text-danger">*</span></label>
                          <select #stateMovie class="form-control form-control-sm select"
                              formControlName="stateMovie">
                              <option *ngFor="let state of lstMovies" [ngValue]="state">
                                {{ state.name }}
                              </option>
                          </select>
                          <div *ngIf="submitted && f.stateMovie.errors">
                              <small class="text-danger">{{'video.message.movieRequired' | translate}}</small>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>{{'video.label.subMovieType' | translate}}<span class="text-danger">*</span></label>
                          <select #state class="form-control form-control-sm select"
                              formControlName="state">

                              <option *ngFor="let state of lstSubMovieType" [ngValue]="state">
                                {{ state.name }}
                              </option>

                          </select>
                          <div *ngIf="submitted && f.state.errors">
                              <small class="text-danger">{{'video.message.typeRequired' | translate}}</small>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>{{'common.label.remark' | translate}}</label>
                          <input class="form-control form-control-sm" type="text" formControlName="remark" placeholder="{{'common.holder.enterRemark' | translate}}">
                      </div>
                  </div>
              </div>


              <div class="row">
                <div class="col-8">
                    <label class="btn btn-default p-0">
                        <input #fileSource type="file" accept="image/png, image/jpeg" (change)="selectFile($event)"/>
                    </label>
                </div>

                <div class="col-4">
                    <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
                      {{'common.label.uploadImage' | translate}}
                    </button>
                </div>
              </div>

              <div *ngIf="currentFile" class="progress">
                <div
                  class="progress-bar progress-bar-info progress-bar-striped"
                  role="progressbar"
                  attr.aria-valuenow="{{ progress }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: progress + '%' }"
                >
                  {{ progress }}%
                </div>
              </div>
              <div *ngIf="submitted && sourceId === 0">
                <small class="text-danger">{{'video.message.imageRequired' | translate}}</small>
              </div>

              <div *ngIf=" !errorMsg && sourceId > 0" class="alert alert-success" role="alert">
                {{'videoSource.message.uploadVideoSuccess' | translate}}
              </div>

              <div *ngIf="errorMsg" class="alert alert-danger" role="alert">{{ errorMsg }}</div>



              <div class="submit-section">
                <button (click)="save()" class="btn btn-sm btn-primary float-right" type="button">
                  <i class="fa fa-floppy-o"></i>
                  {{'common.button.save' | translate}}
                </button>
              </div>

              <div *ngIf=" sourceId > 0">
                <div class="back" [ngStyle]="{'background-image': 'url(' + imageSrc + ')'}" *ngIf="imageSrc"></div>
              </div>

          </form>
      </div>
  </div>
</div>
<!-- /Page Content -->
