<!-- Page Content -->
<div class="content container-fluid">
  <div class="row">
      <div class="col-md-8 offset-md-2">

        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-center">
              <div class="col">
                  <h3 class="page-title">Edit Sub Movie-Type</h3>
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink = '/home/seting-movie'>Setting</a></li>
                      <li class="breadcrumb-item active">Edit Sub Movie-Type</li>
                  </ul>
              </div>
          </div>
        </div>
        <!-- /Page Header -->

          <form [formGroup]="form">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                      <label>Sub Movie Type<span class="text-danger">*</span></label>
                      <input #subMovieType class="form-control" type="text" formControlName="subMovieType" placeholder="Enter sub movie-type">

                      <div *ngIf="submitted && f.subMovieType.errors">
                          <small class="text-danger"> *Sub movie type is required</small>
                      </div>
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Remark</label>
                          <input class="form-control " type="text" formControlName="remark" placeholder="Enter remark">
                      </div>
                  </div>
              </div>

              <div class="submit-section">
                <button (click)="save()" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#add_custom_policy">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  Update
                </button>
                  <!-- <button class="btn btn-primary submit-btn">Save</button> -->
              </div>
          </form>
      </div>
  </div>
</div>
<!-- /Page Content -->
