
.j83agx80 {
  display: flex;
}
.kfkz5moi {
  left: 50%;
  top: 35%;
}

.pmk7jnqg {
  position: absolute;
}

.pybr56ya {
  padding-top: 12px;
}

.taijpn5t {
  justify-content: center;
}



img {
  border: 0;
}

.j83agx80 {
  display: flex;
}
.lzcic4wl {
  outline: none;
}
.k7cz35w2 {
  height: 32px;
}

.stjgntxs {
  overflow-y: hidden;
}

#facebook ._-kb a {
  font-family: inherit;
}

.tw6a2znq {
  padding-left: 12px;
}

.rq0escxv {
  box-sizing: border-box;
}

.rj84mg9z {
  cursor: not-allowed;
}

.pmk7jnqg {
  position: absolute;
}

.p0p8w163 {
  border-top-left-radius: 30px;
}

.oygrvhab {
  margin-bottom: 0;
}

.ovq5dppa {
  background-color: #ffffff;
}

.oajrlxb2 {
  -webkit-tap-highlight-color: transparent;
}

.kvgmc6g5 {
  margin-top: 0;
}
.j83agx80 {
  display: flex;
}

.ihqw7lf3 {
  padding-bottom: 16px;
}

.kip1xq3a {
  border-top-right-radius: 30px;
}

.j83agx80 {
  display: flex;
}

.ihqw7lf3 {
  padding-bottom: 16px;
}

.idiwt2bm {
  height: auto;
}

.i1ao9s8h {
  text-align: inherit;
}

.discj3wi {
  padding-top: 16px;
}

.d1544ag0 {
  padding-right: 12px;
}

.cxmmr5t8 {
  margin-right: 0;
}

.bp9cbjyn {
  align-items: center;
}

.be9qi1ea {
  border-bottom-left-radius: 30px;
}

.alrr0afh {
  border-bottom-right-radius: 30px;
}

.tw6a2znq {
  padding-left: 12px;
}

.l9j0dhe7 {
  position: relative;
}
.a8c37x1j {
  display: block;
}

.qv66sw1b {
  word-break: break-word;
}

.oo9gr5id {
  color: var(--primary-text);
}

.lrazzd5p {
  font-weight: 600;
}

.jq4qci2q {
  font-size: .9375rem;
}


.load {
  justify-content: center;
    font-family: inherit;
    padding-left: 12px;
    box-sizing: border-box;
    cursor: not-allowed;
    position: absolute;
    border-top-left-radius: 30px;
    margin-bottom: 0;
    -webkit-tap-highlight-color: transparent;
    margin-top: 0;
    border-top-right-radius: 30px;
    display: flex;
    padding-bottom: 12px;
    padding-top: 12px;
    height: auto;
}
