

<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
      <div class="row">
          <div class="col-sm-12">
              <h3 class="page-title">Profile</h3>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                  <li class="breadcrumb-item active">Profile</li>
              </ul>
          </div>
      </div>
  </div>
  <!-- /Page Header -->

  <div class="card mb-0">
      <div class="card-body">
          <div class="row">
              <div class="col-md-12">
                  <div class="profile-view">
                      <div class="profile-img-wrap">
                          <div class="profile-img ">
                              <!-- <a><img alt="" src="assets/img/profiles/avatar-02.jpg"></a> -->
                              <ngx-avatar
                              name="{{userInfo.fullName}}"
                              [src]="src"
                              value="100%"
                              size="100" [round]="true">
                          </ngx-avatar>
                          </div>
                      </div>
                      <div class="profile-basic">
                          <div class="row">
                              <div class="col-md-5">
                                  <div class="profile-info-left">
                                      <h3 class="user-name m-t-0 mb-0">{{userInfo.fullName}}</h3>
                                      <h6 class="text-muted">{{role?.name}}</h6>
                                      <div class="staff-id">Employee ID : {{userInfo.id}}</div>
                                      <div class="small doj text-muted">Date of Join : {{jsonInfo?.createDate | dateFormat}}</div>
                                      <div class="staff-id">User Name : {{jsonInfo?.userName}}</div>
                                  </div>
                              </div>
                              <div class="col-md-7">
                                  <ul class="personal-info personalInfo">
                                      <li>
                                          <div class="title">Phone:</div>
                                          <div class="text"><a href="">{{jsonInfo?.phoneNumber | phoneNumberFormat}}</a></div>
                                      </li>

                                      <li>
                                          <div class="title">Birthday:</div>
                                          <div class="text">{{jsonInfo?.dateBirth | dateFormat}}</div>
                                      </li>
                                      <li>
                                          <div class="title">Address:</div>
                                          <div class="text">{{jsonInfo?.address}}</div>
                                      </li>
                                      <li>
                                          <div class="title">Gender:</div>
                                          <div class="text">{{jsonInfo?.gender}}</div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="pro-edit"><a data-target="#profile_info" data-toggle="modal" class="edit-icon"><i
                                  class="fa fa-pencil"></i></a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="tab-content">

      <!-- Profile Info Tab -->
      <!-- <div id="emp_profile" class="pro-overview tab-pane fade show active">
          <div class="row">
              <div class="col-md-6 d-flex">
                  <div class="card profile-box flex-fill">
                      <div class="card-body">
                          <h3 class="card-title">Personal Informations <a class="edit-icon" data-toggle="modal"
                                  data-target="#personal_info_modal"><i class="fa fa-pencil"></i></a></h3>
                          <ul class="personal-info">
                              <li>
                                  <div class="title">Passport No.</div>
                                  <div class="text">9876543210</div>
                              </li>
                              <li>
                                  <div class="title">Passport Exp Date.</div>
                                  <div class="text">9876543210</div>
                              </li>
                              <li>
                                  <div class="title">Tel</div>
                                  <div class="text"><a href="">9876543210</a></div>
                              </li>
                              <li>
                                  <div class="title">Nationality</div>
                                  <div class="text">Indian</div>
                              </li>
                              <li>
                                  <div class="title">Religion</div>
                                  <div class="text">Christian</div>
                              </li>
                              <li>
                                  <div class="title">Marital status</div>
                                  <div class="text">Married</div>
                              </li>
                              <li>
                                  <div class="title">Employment of spouse</div>
                                  <div class="text">No</div>
                              </li>
                              <li>
                                  <div class="title">No. of children</div>
                                  <div class="text">2</div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 d-flex">
                  <div class="card profile-box flex-fill">
                      <div class="card-body">
                          <h3 class="card-title">Emergency Contact <a class="edit-icon" data-toggle="modal"
                                  data-target="#emergency_contact_modal"><i class="fa fa-pencil"></i></a></h3>
                          <h5 class="section-title">Primary</h5>
                          <ul class="personal-info">
                              <li>
                                  <div class="title">Name</div>
                                  <div class="text">John Doe</div>
                              </li>
                              <li>
                                  <div class="title">Relationship</div>
                                  <div class="text">Father</div>
                              </li>
                              <li>
                                  <div class="title">Phone </div>
                                  <div class="text">9876543210, 9876543210</div>
                              </li>
                          </ul>
                          <hr>
                          <h5 class="section-title">Secondary</h5>
                          <ul class="personal-info">
                              <li>
                                  <div class="title">Name</div>
                                  <div class="text">Karen Wills</div>
                              </li>
                              <li>
                                  <div class="title">Relationship</div>
                                  <div class="text">Brother</div>
                              </li>
                              <li>
                                  <div class="title">Phone </div>
                                  <div class="text">9876543210, 9876543210</div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
        </div> -->

      </div>
      <!-- /Profile Info Tab -->
</div>
<!-- /Page Content -->

