<!-- Page Content -->
<div class="content container-fluid">
  <div class="row">
      <div class="col-md-8 offset-md-2">

        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-center">
              <div class="col">
                  <h3 class="page-title">{{'movie.label.addNewMovieType' | translate}}</h3>
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink = '/home/seting-movie'>{{'common.label.setting' | translate}}</a></li>
                      <li class="breadcrumb-item active">{{'movie.label.addMovieType' | translate}}</li>
                  </ul>
              </div>
          </div>
        </div>
        <!-- /Page Header -->

          <form [formGroup]="form">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                      <label> {{'movie.label.movieType' | translate}}<span class="text-danger">*</span></label>
                      <input #movieType class="form-control" type="text" formControlName="movieType" placeholder="{{'movie.holder.enterMovieType'|translate}}">

                      <div *ngIf="submitted && f.movieType.errors">
                          <small class="text-danger"> {{'movie.message.movieTypeRequired' | translate}}</small>
                      </div>
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>{{'common.label.remark' | translate}}</label>
                          <input class="form-control " type="text" formControlName="remark" placeholder="{{'common.holder.enterRemark' | translate}}">
                      </div>
                  </div>
              </div>

              <div class="submit-section">
                <button (click)="save()" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#add_custom_policy">
                  <i class="fa fa-floppy-o"></i>
                  {{'common.button.save' | translate}}
                </button>
              </div>
          </form>

      </div>
  </div>
</div>
<!-- /Page Content -->
