<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">{{'videoSource.label.lstMovieSource' | translate}}</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">{{'movie.label.movie' | translate}}</a></li>
                <li class="breadcrumb-item active">{{'videoSource.label.movieSource' | translate}}</li>
            </ul>
        </div>
    </div>
  </div>
<!-- /Page Header -->

<!-- Content Tile -->
<div class="card mb-0" style="margin-bottom: 25px !important;">
  <div class="card-body">
      <div class="row">
          <div class="col-md-12">
              <div class="profile-view">
                  <div class="profile-basic" style="margin-left: 0px;">
                      <div class="row">
                          <div class="col-md-3">
                              <div class="profile-info-left">
                                <img style="width: 286px;" alt="" [src]="src">
                              </div>
                          </div>
                          <div class="col-md-7">
                              <ul class="personal-info vd-source">
                                  <li>
                                      <div class="title">{{'common.label.id' | translate}}:</div>
                                      <div class="text title"><a>{{jsonData.id}}</a></div>
                                  </li>
                                  <li>
                                      <div class="title">{{'video.label.title' | translate}}:</div>
                                      <div class="text"><a>{{jsonData.vdName}}</a></div>
                                  </li>
                                  <li>
                                    <div class="title">{{'movie.label.movieType' | translate}}:</div>
                                    <div class="text"><a href="javascript:">{{jsonData.vdTypeName}}</a></div>
                                  </li>
                                  <li>
                                    <div class="title">{{'video.label.subMovieType' | translate}}:</div>
                                    <div class="text">
                                      <a href="javascript:">{{jsonData.vdSubTypeName}}</a>
                                    </div>
                                  </li>
                                  <li>
                                      <div class="title">{{'common.label.remark' | translate}}:</div>
                                      <div class="text" *ngIf = "jsonData.remark">
                                        <a href="javascript:">{{jsonData.remark}}</a>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <!-- /Content Tile -->

  <div class="row">
    <div class="row col-md-12">
      <div style="margin: 10px 5px;">
        <button (click)="addMovieSource()" class="btn btn-sm btn-primary float-left" type="button">
          <i class="fa fa-plus-circle"></i>
          {{'video.label.addMovie' | translate}}
        </button>
        <button (click)="edit()" [disabled] = "disabled" class="btn btn-sm btn-primary float-left left-12" type="button">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          {{'common.button.edit' | translate}}
        </button>
        <button (click)="deleteShow()" [disabled] = "disabled" class="btn btn-sm btn-primary float-left left-12" type="button">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          {{'common.button.delete' | translate}}
        </button>

        <div style="width: 300px;" class="float-right">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="search" (focus)="onFocusEvent($event)" (input)="searchChange($event)" placeholder="{{'videoSource.label.searchPart' | translate}}">
      </div>
        <label class="col-form-label float-right" style="width: 80px;">{{'common.label.search' | translate}} :</label>
      </div>
    </div>

    <div class="row col-md-12">
      <ag-grid-angular
      #agGrid
      style="width: 100%; height: 500px;"
      id="myGrid"
      class="ag-theme-alpine"
      [modules]="modules"
      [columnDefs]="columnDefs"
      [frameworkComponents]="frameworkComponents"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData"
      [rowSelection]="rowSelection"
      (selectionChanged)="onSelectionChanged($event)"
      (cellDoubleClicked)="onCellDoubleClicked($event)"
      (gridReady)="onGridReady($event)"
      [isRowSelectable]="isRowSelectable"
      [pagination]="pagination"
      [paginationPageSize]="paginationPageSize"
      ></ag-grid-angular>
    </div>

  </div>

  <!-- Delete Modal -->
<div id="delele" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">{{'video.label.deleteMovie' | translate}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <h3 class="page-title">{{'videoSource.message.qDelete' | translate:{'part': selectedJson?.part} }}</h3>

            <div style="margin-top: 25px;">
              <button (click)="delete()" class="btn btn-sm btn-primary float-right" type="button" style="margin-left: 15px;">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                {{'common.button.yes' | translate}}
              </button>
              <button  class="btn btn-sm btn-primary float-right" data-dismiss="modal" aria-label="Close" type="button" >
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                {{'common.button.no' | translate}}
              </button>
            </div>

          </div>
      </div>
  </div>
</div>
<!-- /Delete Modal -->

</div>
