<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Lst Movie Source</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Movies</a></li>
                <li class="breadcrumb-item active">Movies Source</li>
            </ul>
        </div>
        <!-- <div class="col-auto float-right ml-auto">
            <a  class="btn add-btn" data-toggle="modal" data-target="#add_holiday"><i
                    class="fa fa-plus"></i> Add Movie</a>
        </div> -->
    </div>
  </div>
<!-- /Page Header -->

<!-- Content Tile -->
<div class="card mb-0" style="margin-bottom: 25px !important;">
  <div class="card-body">
      <div class="row">
          <div class="col-md-12">
              <div class="profile-view">
                  <div class="profile-basic" style="margin-left: 0px;">
                      <div class="row">
                          <div class="col-md-3">
                              <div class="profile-info-left">
                                <img alt="" src="https://1.bp.blogspot.com/-A67LP-W_yO4/YVpFQ3xr8dI/AAAAAAAACys/eA3sh3CH89QyS9NoMb3HSAcT-QHNrV9mwCLcBGAsYHQ/w222-h230-p-k-no-nu/Besdoung-Reusya.png">
                              </div>
                          </div>
                          <div class="col-md-7">
                              <ul class="personal-info">
                                  <li>
                                      <div class="title">ID:</div>
                                      <div class="text"><a href="javascript:">{{jsonData.id}}</a></div>
                                  </li>
                                  <li>
                                      <div class="title">Title:</div>
                                      <div class="text"><a href="javascript:">{{jsonData.title}}</a></div>
                                  </li>
                                  <li>
                                    <div class="title">Movie:</div>
                                    <div class="text"><a href="javascript:">{{jsonData.movie}}</a></div>
                                  </li>
                                  <li>
                                    <div class="title">Type:</div>
                                    <div class="text">
                                      <a href="javascript:">{{jsonData.movieType}}</a>
                                    </div>
                                  </li>
                                  <li>
                                      <div class="title">Rmark:</div>
                                      <div class="text">
                                        <a href="javascript:">{{jsonData.remark}}</a>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="title">Create At:</div>
                                      <div class="text">
                                        <a href="javascript:">{{jsonData.createAt}}</a>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- <div class="pro-edit">
                    <a data-target="#profile_info" data-toggle="modal" class="edit-icon">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </div> -->
              </div>
          </div>
      </div>
    </div>
  </div>
  <!-- /Content Tile -->

  <!-- Data Table -->
  <div class="row">
    <div class="col-auto float-right ml-auto addNew">
      <button (click)="addMovieSource()" class="btn btn-sm btn-primary float-right" type="button" data-toggle="modal" data-target="#add_custom_policy">
        <i class="fa fa-plus"></i>
        Add Movie Source
      </button>
    </div>

    <div class="col-md-12">
      <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions"
              class="table table-striped custom-table mb-0">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Part </th>
                      <th>Remark</th>
                      <th>Create At</th>
                      <th>View Video</th>
                      <th class="text-right">Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr class="holiday-completed" *ngFor="let row of lstMovies">
                      <td [width] = '100'>{{row.id}}</td>
                      <td [width] = '150'>
                        {{row.part}}
                        <span *ngIf="row.end === 'Y'">End</span>
                      </td>
                      <td>{{row.remark}}</td>
                      <td>{{row.createAt}}</td>
                      <td [width] = '140' class="text-center">
                        <button class="btn btn-sm btn-primary float-right" type="button" data-toggle="modal" data-target="#add_custom_policy">
                          <i class="fa fa-play-circle-o"></i>
                          Play
                        </button>
                      </td>
                      <td class="text-center" [width] = "50">
                          <div class="dropdown dropdown-action">
                              <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  <i class="material-icons">more_vert</i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                  <a href="javascript:" class="dropdown-item"  data-toggle="modal" data-target="#edit_holiday" (click)="edit(row.id)">
                                    <i class="fa fa-cog m-r-5"></i>
                                    settings
                                  </a>
                                  <a href="javascript:" class="dropdown-item"  data-toggle="modal" data-target="#edit_holiday" (click)="edit(row.id)">
                                    <i  class="fa fa-pencil m-r-5"></i>
                                    Edit
                                  </a>
                                  <a href="javascript:" class="dropdown-item"  data-toggle="modal" data-target="#delete_holiday" (click)="tempId = row.id">
                                    <i class="fa fa-trash-o m-r-5"></i>
                                    Delete
                                  </a>
                              </div>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
  <!--/Data Table -->

</div>
