<!-- Page Content -->
<div class="content container-fluid">
  <div class="row">
      <div class="col-md-8 offset-md-2">

        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-center">
              <div class="col">
                  <h3 class="page-title">{{'users.label.user' | translate}}</h3>
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink = '/account'>{{'users.label.user' | translate}}</a></li>
                      <li class="breadcrumb-item active">{{'users.label.addNewUser' | translate}}</li>
                  </ul>
              </div>
          </div>
        </div>
        <!-- /Page Header -->

          <form [formGroup]="form">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                      <label>{{'users.label.nserName' | translate}}<span class="text-danger">*</span></label>
                      <input #userName class="form-control form-control-sm" type="text" formControlName="userName" placeholder="{{'users.holder.enterUserName' | translate}}">
                      <div *ngIf="submitted && f.title.errors">
                          <small class="text-danger">{{'users.message.userNameRequired' | translate}}</small>
                      </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>{{'users.label.password' | translate}}<span class="text-danger">*</span></label>
                        <input #password class="form-control form-control-sm" type="text" formControlName="password" placeholder="{{'users.holder.enterPassword' | translate}}">
                        <div *ngIf="submitted && f.stateMovie.errors">
                            <small class="text-danger">{{'users.message.passwordRequired' | translate}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>{{'users.label.confirmPassword' | translate}}<span class="text-danger">*</span></label>
                        <input #confirmPassword class="form-control form-control-sm" type="text" formControlName="confirmPassword" placeholder="{{'users.holder.enterConfirmPassword' | translate}}">
                        <div *ngIf="submitted && f.state.errors">
                            <small class="text-danger">{{'users.message.confirmPasswordRequired' | translate}}</small>
                        </div>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group cal-icon">
                        <label>{{'users.label.dateBirth' | translate}}<span class="text-danger">*</span></label>
                        <input #dateBirth class="form-control datetimepicker form-control-sm" type="text" bsDatepicker type="text"
                                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                        placeholder="{{'users.holder.selectDate' | translate}}"
                                        formControlName="dateBirth">
                        <div *ngIf="submitted && f.stateMovie.errors">
                            <small class="text-danger">{{'users.message.dateBirthRequired' | translate}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>{{'users.label.phoneNumber' | translate}}<span class="text-danger">*</span></label>
                        <input #phoneNumber class="form-control form-control-sm" type="text" formControlName="phoneNumber" placeholder="{{'users.holder.enterPhoneNumber' | translate}}">
                        <div *ngIf="submitted && f.state.errors">
                            <small class="text-danger">{{'users.message.phoneNumberRequired' | translate}}</small>
                        </div>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>{{'users.label.role' | translate}}</label>
                        <select #stateMovie class="form-control form-control-sm select"
                              formControlName="roleState">
                              <option *ngFor="let state of lstMovies" [ngValue]="state">
                                {{ state.name }}
                              </option>
                          </select>
                          <div *ngIf="submitted && f.stateMovie.errors">
                              <small class="text-danger">{{'video.message.movieRequired' | translate}}</small>
                          </div>
                    </div>
                </div>
            </div>

              <div class="table-responsive m-t-15">
                <table class="table table-striped custom-table">
                    <thead>
                        <tr>
                            <th>Module Permission</th>
                            <th class="text-center">Read</th>
                            <th class="text-center">Create</th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Users</td>

                            <td class="text-center">
                                <input formControlName="checkUserRead" value="1" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input formControlName="checkUserCreate" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input formControlName="checkUserEdit" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input formControlName="checkUserDelete" type="checkbox">
                            </td>

                        </tr>
                        <tr>
                            <td>Movie</td>

                          <td class="text-center">
                              <input formControlName="checkMovieRead" value="1" type="checkbox">
                          </td>
                          <td class="text-center">
                              <input formControlName="checkMovieCreate" type="checkbox">
                          </td>
                          <td class="text-center">
                              <input formControlName="checkMovieEdit" type="checkbox">
                          </td>
                          <td class="text-center">
                              <input formControlName="checkMovieDelete" type="checkbox">
                          </td>

                        </tr>
                        <tr>
                          <td>Movie Source</td>

                          <td class="text-center">
                              <input formControlName="checkMovieSourceRead" value="1" type="checkbox">
                          </td>
                          <td class="text-center">
                              <input formControlName="checkMovieSourceCreate" type="checkbox">
                          </td>
                          <td class="text-center">
                              <input formControlName="checkMovieSourceEdit" type="checkbox">
                          </td>
                          <td class="text-center">
                              <input formControlName="checkMovieSourceDelete" type="checkbox">
                          </td>

                      </tr>
                        <tr>
                            <td>Setting Movie Type</td>

                            <td class="text-center">
                              <input formControlName="checkSettingMovieTypeRead" value="1" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input formControlName="checkSettingMovieTypeCreate" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input formControlName="checkSettingMovieTypeEdit" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input formControlName="checkSettingMovieTypeDelete" type="checkbox">
                            </td>

                        </tr>
                        <tr>
                            <td>Setting Movie Sub Type</td>

                            <td class="text-center">
                              <input formControlName="checkSettingMovieSubTypeRead" value="1" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input formControlName="checkSettingMovieSubTypeCreate" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input formControlName="checkSettingMovieSubTypeEdit" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input formControlName="checkSettingMovieSubTypeDelete" type="checkbox">
                            </td>

                        </tr>
                        <tr>
                            <td>Setting Clent-Setting</td>

                            <td class="text-center">
                              <input formControlName="checkSettingClentSettingRead" value="1" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input formControlName="checkSettingClentSettingCreate" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input formControlName="checkSettingClentSettingEdit" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input formControlName="checkSettingClentSettingDelete" type="checkbox">
                            </td>

                        </tr>
                    </tbody>
                </table>
              </div>


              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>{{'common.label.remark' | translate}}</label>
                          <input class="form-control form-control-sm" type="text" formControlName="remark" placeholder="{{'common.holder.enterRemark' | translate}}">
                      </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>{{'users.label.profile' | translate}}</label>

                        <input #fileSource type="file" formControlName="fileSource"  accept="image/png, image/jpeg" (change)="selectFile($event)" class="form-control form-control-sm" placeholder="select file"/>

                        <div class="back" [ngStyle]="{'background-image': 'url(' + imageSrc + ')'}" *ngIf="imageSrc">

                        </div>

                        <div *ngIf="currentFile" class="progress my-3">
                          <div
                            class="progress-bar progress-bar-info progress-bar-striped"
                            role="progressbar"
                            attr.aria-valuenow="{{ progress }}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            [ngStyle]="{ width: progress + '%' }"
                          >
                            {{ progress }}%
                          </div>
                        </div>

                        <div *ngIf="submitted && f.fileSource.errors">
                        <small class="text-danger"> {{'video.message.imageRequired' | translate}}</small>
                    </div>

                    </div>
                </div>
            </div>

              <div class="submit-section">
                <button (click)="save()" class="btn btn-sm btn-primary float-right" type="button">
                  <i class="fa fa-floppy-o"></i>
                  {{'common.button.save' | translate}}
                </button>
              </div>
          </form>
      </div>
  </div>
</div>
<!-- /Page Content -->
