<!-- Page Content -->
<div class="content container-fluid">
  <div class="row">
      <div class="col-md-8 offset-md-2">

        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-center">
              <div class="col">
                  <h3 class="page-title">{{'users.label.user' | translate}}</h3>
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink = '/account'>{{'users.label.user' | translate}}</a></li>
                      <li class="breadcrumb-item active">{{'users.label.addNewUser' | translate}}</li>
                  </ul>
              </div>
          </div>
        </div>
        <!-- /Page Header -->

          <form [formGroup]="form">


            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                    <label>{{'users.label.fullName' | translate}}<span class="text-danger">*</span></label>
                    <input #fullName class="form-control form-control-sm" type="text" formControlName="fullName" placeholder="{{'users.holder.enterFullName' | translate}}">
                    <div *ngIf="submitted && f.fullName.errors">
                        <small class="text-danger">{{'users.message.fullNameRequired' | translate}}</small>
                    </div>
                </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label>{{'users.label.gender' | translate}}<span class="text-danger">*</span></label>
                      <select #gender class="form-control form-control-sm select"
                              formControlName="gender">
                              <option *ngFor="let state of genders" [ngValue]="state">
                                {{ state.name }}
                              </option>
                      </select>
                      <div *ngIf="submitted && f.gender.errors">
                        <small class="text-danger">{{'users.message.genderRequired' | translate}}</small>
                      </div>
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                  <div class="form-group cal-icon">
                      <label>{{'users.label.dateBirth' | translate}}<span class="text-danger">*</span></label>
                      <input #dateBirth class="form-control datetimepicker form-control-sm" type="text" bsDatepicker type="text"
                                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                      placeholder="{{'users.holder.selectDate' | translate}}"
                                      formControlName="dateBirth">
                      <div *ngIf="submitted && f.dateBirth.errors">
                          <small class="text-danger">{{'users.message.dateBirthRequired' | translate}}</small>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label>{{'users.label.phoneNumber' | translate}}<span class="text-danger">*</span></label>
                      <input #phoneNumber (input)="phoneNumberChange($event)" mask="000-00-00-000" class="form-control form-control-sm" type="text" formControlName="phoneNumber" placeholder="{{'users.holder.enterPhoneNumber' | translate}}">
                      <div *ngIf="submitted && phoneNumberCheck">
                          <small class="text-danger">{{'users.message.phoneNumberRequired' | translate}}</small>
                      </div>
                  </div>
              </div>
            </div>


              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                      <label>{{'users.label.userName' | translate}}<span class="text-danger">*</span></label>
                      <input #userName class="form-control form-control-sm" type="text" (focusout)="onFocusOut($event)" formControlName="userName" placeholder="{{'users.holder.enterUserName' | translate}}">
                      <div *ngIf="submitted && f.userName.errors">
                          <small class="text-danger">{{'users.message.userNameRequired' | translate}}</small>
                      </div>
                      <div *ngIf="checkUserAvailable">
                        <i class="fa fa-exclamation-circle error-con" aria-hidden="true"></i>
                        <small class="text-danger">{{'users.message.userReadyHave' | translate}}</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>{{'users.label.password' | translate}}<span class="text-danger">*</span></label>
                        <input #password class="form-control form-control-sm" type="text" formControlName="password" placeholder="{{'users.holder.enterPassword' | translate}}">
                        <div *ngIf="submitted && f.password.errors">
                            <small class="text-danger">{{'users.message.passwordRequired' | translate}}</small>
                        </div>
                        <div *ngIf="submitted && checkPw">
                          <small class="text-danger">password not mactch</small>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>{{'users.label.confirmPassword' | translate}}<span class="text-danger">*</span></label>
                        <input #confirmPassword class="form-control form-control-sm" type="text" formControlName="confirmPassword" placeholder="{{'users.holder.enterConfirmPassword' | translate}}">
                        <div *ngIf="submitted && f.confirmPassword.errors">
                            <small class="text-danger">{{'users.message.confirmPasswordRequired' | translate}}</small>
                        </div>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                      <label>{{'users.label.address' | translate}}</label>
                      <input #address class="form-control form-control-sm" type="text" formControlName="address" placeholder="{{'users.holder.enterAddress' | translate}}">
                  </div>
              </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>{{'users.label.role' | translate}}</label>
                        <select #roleState class="form-control form-control-sm select"
                              formControlName="roleState">
                              <option *ngFor="let state of lstRole" [ngValue]="state">
                                {{ state.name }}
                              </option>
                          </select>
                          <div *ngIf="submitted && f.roleState.errors">
                              <small class="text-danger">{{'users.message.roleRequired' | translate}}</small>
                          </div>
                    </div>
                </div>
            </div>

              <div class="table-responsive m-t-15">
                <table class="table table-striped custom-table">
                    <thead>
                        <tr>
                            <th>Module Permission</th>
                            <th class="text-center">Read</th>
                            <th class="text-center">Create</th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Users</td>

                            <td class="text-center">
                                <input  (click)="checkEvent($event, 1)" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input (click)="checkEvent($event, 2)" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input  (click)="checkEvent($event, 3)" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input  (click)="checkEvent($event, 4)" type="checkbox">
                            </td>

                        </tr>
                        <tr>
                            <td>Movie</td>

                          <td class="text-center">
                              <input  (click)="checkEvent($event, 5)" type="checkbox">
                          </td>
                          <td class="text-center">
                              <input  (click)="checkEvent($event, 6)" type="checkbox">
                          </td>
                          <td class="text-center">
                              <input  (click)="checkEvent($event, 7)" type="checkbox">
                          </td>
                          <td class="text-center">
                              <input  (click)="checkEvent($event, 8)" type="checkbox">
                          </td>

                        </tr>
                        <tr>
                          <td>Movie Source</td>

                          <td class="text-center">
                              <input (click)="checkEvent($event, 9)" type="checkbox">
                          </td>
                          <td class="text-center">
                              <input (click)="checkEvent($event, 10)" type="checkbox">
                          </td>
                          <td class="text-center">
                              <input  (click)="checkEvent($event, 11)" type="checkbox">
                          </td>
                          <td class="text-center">
                              <input (click)="checkEvent($event, 12)" type="checkbox">
                          </td>

                      </tr>
                        <tr>
                            <td>Setting Movie Type</td>

                            <td class="text-center">
                              <input (click)="checkEvent($event, 13)" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input (click)="checkEvent($event, 14)" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input (click)="checkEvent($event, 15)" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input (click)="checkEvent($event, 16)" type="checkbox">
                            </td>

                        </tr>
                        <tr>
                            <td>Setting Movie Sub Type</td>

                            <td class="text-center">
                              <input (click)="checkEvent($event, 17)" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input (click)="checkEvent($event, 18)" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input (click)="checkEvent($event, 19)" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input  (click)="checkEvent($event, 20)" type="checkbox">
                            </td>

                        </tr>
                        <tr>
                            <td>Setting Clent-Setting</td>

                            <td class="text-center">
                              <input  (click)="checkEvent($event, 21)" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input (click)="checkEvent($event, 22)" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input (click)="checkEvent($event, 23)" type="checkbox">
                            </td>
                            <td class="text-center">
                                <input (click)="checkEvent($event, 24)" type="checkbox">
                            </td>

                        </tr>
                    </tbody>
                </table>
              </div>


              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>{{'common.label.remark' | translate}}</label>
                          <input class="form-control form-control-sm" type="text" formControlName="remark" placeholder="{{'common.holder.enterRemark' | translate}}">
                      </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>{{'users.label.profile' | translate}}</label>

                        <input #fileSource type="file" formControlName="fileSource"  accept="image/png, image/jpeg" (change)="selectFile($event)" class="form-control form-control-sm" placeholder="select file"/>

                        <div class="back" [ngStyle]="{'background-image': 'url(' + imageSrc + ')'}" *ngIf="imageSrc">

                        </div>

                        <div *ngIf="currentFile" class="progress my-3">
                          <div
                            class="progress-bar progress-bar-info progress-bar-striped"
                            role="progressbar"
                            attr.aria-valuenow="{{ progress }}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            [ngStyle]="{ width: progress + '%' }"
                          >
                            {{ progress }}%
                          </div>
                        </div>

                    </div>
                </div>
            </div>

              <div class="submit-section">
                <button (click)="save()" class="btn btn-sm btn-primary float-right" type="button">
                  <i class="fa fa-floppy-o"></i>
                  {{'common.button.save' | translate}}
                </button>
              </div>
          </form>
      </div>
  </div>
</div>
<!-- /Page Content -->
