<!-- Page Content -->
<div class="content container-fluid">
<!-- Page Header -->
<div class="page-header">
  <div class="row align-items-center">
      <div class="col">
          <h3 class="page-title">Movie</h3>
          <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:">Setting</a></li>
              <li class="breadcrumb-item active">Movies</li>
          </ul>
      </div>
      <div class="col-auto float-right ml-auto">
        <button  class="btn btn-sm btn-primary float-right" type="button" data-toggle="modal" data-target="#add_custom_policy">
          <i class="fa fa-plus-circle"></i>
          Add Movie-Type
        </button>
      </div>
  </div>
</div>

<!-- /Page Header -->
<ag-grid-angular
#agGrid
style="width: 100%; height: 500px;"
id="myGrid"
class="ag-theme-alpine"
[modules]="modules"
[columnDefs]="columnDefs"
[frameworkComponents]="frameworkComponents"
[defaultColDef]="defaultColDef"
[rowData]="rowData"
(gridReady)="onGridReady($event)"
[pagination]="pagination"
[paginationPageSize]="paginationPageSize"
></ag-grid-angular>


</div>
