<!-- Page Content -->
<div class="content container-fluid">
  <div class="row">
      <div class="col-md-8 offset-md-2">

        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-center">
              <div class="col">
                  <h3 class="page-title">{{'videoSource.label.addNewMovieSource' | translate}}</h3>
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink = '/home/vd-source'>{{'videoSource.label.movieSource' | translate}}</a></li>
                      <li class="breadcrumb-item active">{{'videoSource.label.addMovieSource' | translate}}</li>
                  </ul>
              </div>
          </div>
        </div>
        <!-- /Page Header -->


          <form [formGroup]="form">

            <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <label>{{'video.label.title' | translate}}<span class="text-danger">*</span></label>
                      <input #title class="form-control form-control-sm" type="text" formControlName="title">
                      <div *ngIf="submitted && f.title.errors">
                          <small class="text-danger">{{'video.message.titleRequired' | translate}}</small>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label>{{'videoSource.label.part' | translate}}<span class="text-danger">*</span></label>
                      <input #part formControlName="part" class="form-control form-control-sm" type="text" placeholder="{{'videoSource.holder.enterPart' | translate}}">
                      <div *ngIf="submitted && f.part.errors">
                          <small class="text-danger">{{'videoSource.message.partRequired' | translate}}</small>
                      </div>
                  </div>
              </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group cal-icon">
                        <label>{{'video.label.runSchedule' | translate}}</label>
                        <input class="form-control datetimepicker form-control-sm" type="text" bsDatepicker type="text"
                                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                        placeholder="{{'videoSource.holder.selectDate' | translate}}"
                                        formControlName="onSchedule">
                    </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="d-block">{{'videoSource.label.videoIsEnd' | translate}}</label>
                    <div class="status-toggle">
                      <input formControlName="isEnd" type="checkbox" id="unit_calculation" class="check">
                      <label for="unit_calculation" class="checktoggle">checkbox</label>
                  </div>
                  </div>

              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                    <label>{{'common.label.remark' | translate}}</label>
                    <input class="form-control form-control-sm" type="text" formControlName="remark" placeholder="{{'common.holder.enterRemark' | translate}}">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                  <label class="btn btn-default p-0">
                      <input #fileSource type="file"  accept="video/mp4,video/x-m4v,video/*" (change)="selectFile($event)"/>
                  </label>
              </div>

              <div class="col-4">
                  <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
                    {{'common.label.uploadVedio' | translate}}
                  </button>
              </div>
            </div>

              <div *ngIf="currentFile" class="progress">
                <div
                  class="progress-bar progress-bar-info progress-bar-striped"
                  role="progressbar"
                  attr.aria-valuenow="{{ progress }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: progress + '%' }"
                >
                  {{ progress }}%
                </div>
              </div>

              <div *ngIf="submitted && videoSourceId === 0">
                <small class="text-danger">{{'videoSource.message.videoSourceRequired' | translate}}</small>
              </div>

              <div *ngIf=" changeFile && !errorMsg && videoSourceId > 0" class="alert alert-success" role="alert">
                {{'videoSource.message.uploadVideoSuccess' | translate}}
              </div>

              <div *ngIf="errorMsg" class="alert alert-danger" role="alert">{{ errorMsg }}</div>

              <div class="submit-section">
                <button (click)="save()" class="btn btn-sm btn-primary float-right" type="button" data-toggle="modal" data-target="#add_custom_policy">
                  <i class="fa fa-floppy-o"></i>
                  {{'common.button.save' | translate}}
                </button>
              </div>

              <ng-container *ngIf = "!errorMsg && videoSrc && videoSourceId > 0 && changeFile">
                <video type="video/mp4" [src]="videoSrc" controls controlsList="nodownload" style="width: 100%;"></video>
              </ng-container>

          </form>
      </div>
  </div>
</div>
<!-- /Page Content -->
